.header__logo {
  height: 80px;
  margin: 2px 0 10px 0;
}

.header__mainmenu {
  border: 1px solid $primary;
}

.footer {
  border-top: 1px solid $primary;
  margin-top: 30px;
}

.footer__logo {
  height: 32px;
  margin-top: 2px;
  lighting-color: 80%;
}

.footer__links__item {
  display: inline-block;
  margin: 0 10px;
}

.footer__social {
  text-align: center;
}

.footer__social__item {
  display: inline-block;
  margin: 0 20px;
}
